.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 10px;
  border-right: solid 1px #cabcbc;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.chat-list {
  background-color: #e9e9e9;
}

.chat-list li {
  padding: 15px;
  list-style-type: none;
  border-bottom: 1px solid #cabcbc;
}
