.chat-window {
  height: 100vh;
  flex: 1;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #2a2a2b;
}

.messages {
  /* height: calc(100vh - 150px); */
  height: 88%;
  overflow-y: auto;
  direction: rtl;
}

.messages li {
  margin-bottom: 10px;
  background: #9ea0a1;
  list-style-type: none;
  width: fit-content;
  padding: 7px 10px;
  border-radius: 10px 10px 0 10px;
  position: relative;
}.time{
  font-size: 0.75em;
  position: relative;
  top: 5px;
  right: 2px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 15px;
}

.message-input {
  /* width: calc(100% - 20px); */
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #9b9fa1;
}
.input-container button {
  background-color: #d3d6d8;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.input-container button:active {
  transform: scale(0.97);
}

@media (min-width: 1200px) {
  .messages,
  .input-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
}
