.messages {
    height: calc(100vh - 150px);
    overflow-y: auto;
    direction: rtl;
  }
  
  .messages li {
    margin-bottom: 15px;    
   border: 1px black solid;
   list-style-type: none;
  }
  
  .input-container{
     display: flex;
  }
  .message-input{
    width: calc(100% - 20px);
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgb(178, 168, 168);
  } .input-container button{
    background-color: rgb(149, 239, 13);
    padding: 10px;
    color: black;
    border: none;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }


    
  .chat-window {
    flex: 1;
    padding: 20px;
  } h2{
    text-align: center;
  }