.intro{
    background-color: rgb(232, 235, 238);
    width: 100vw;
    height: 100vh;
    color: rgb(99, 96, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.links{
  color: blue;
  padding: 5px;
  text-decoration: none;
}