.form-container {
  background: linear-gradient(to right, #bdc3c7, #4f5861);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  width: 100%;
}
.form-title {
  color: #161616;
}

form {
  width: 90%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  background: #f7f9fa;
}
input:focus {
  background: #ededee;
  outline: none;
}

::placeholder{
  color: #020202;
  opacity: 0.;
}

.create-btn {
  background: #d3d6d8;
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 10px;
}
